In [5]:
import pandas as pd
import csv

with open('pets2.csv') as f:
    data = list(csv.reader(f))
    
for i in data:
    print(i)

['Bird', 'Larry', '56', 'Red']
['Bird', 'Emma', '18', 'Blue']
['Bird', 'Leia', '42', 'Green']
['Cat', 'James', '2', 'Orange']
['Cat', 'Kathy', '4', 'White']
['Cat', 'laurA', '3', 'Black']
['Cat', 'Laura', '3', 'Black']
['Dog', 'Alex', '4', 'Gold']
['Dog', 'Todd', '8', 'Brown']
['Dog', 'Gaston', '7', 'White']
['Dog', 'Buck', '4', 'Black']
['Snake', 'Draco', '11', 'Gray']
['Snake', 'Pansey', '7', 'Brown']
['Snake', 'Vincent', '9', 'Silver']
['Snake', 'Albert', '11', 'Tan']

In [7]:
species = pd.Series([i[0] for i in data])
print(species)

0      Bird
1      Bird
2      Bird
3       Cat
4       Cat
5       Cat
6       Cat
7       Dog
8       Dog
9       Dog
10      Dog
11    Snake
12    Snake
13    Snake
14    Snake
dtype: object

In [41]:
species2 = {i[1]:i[0] for i in data}
print(species2)

{'Larry': 'Bird', 'Emma': 'Bird', 'Leia': 'Bird', 'James': 'Cat', 'Kathy': 'Cat', 'laurA': 'Cat', 'Laura': 'Cat', 'Alex': 'Dog', 'Todd': 'Dog', 'Gaston': 'Dog', 'Buck': 'Dog', 'Draco': 'Snake', 'Pansey': 'Snake', 'Vincent': 'Snake', 'Albert': 'Snake'}

In [42]:
species22 = pd.Series(species2)
print(species22)

Albert     Snake
Alex         Dog
Buck         Dog
Draco      Snake
Emma        Bird
Gaston       Dog
James        Cat
Kathy        Cat
Larry       Bird
Laura        Cat
Leia        Bird
Pansey     Snake
Todd         Dog
Vincent    Snake
laurA        Cat
dtype: object

In [43]:
color = pd.Series({i[1]:i[3] for i in data})
age = pd.Series({i[1]:i[2] for i in data})
print(color)
print(age)

Albert        Tan
Alex         Gold
Buck        Black
Draco        Gray
Emma         Blue
Gaston      White
James      Orange
Kathy       White
Larry         Red
Laura       Black
Leia        Green
Pansey      Brown
Todd        Brown
Vincent    Silver
laurA       Black
dtype: object
Albert     11
Alex        4
Buck        4
Draco      11
Emma       18
Gaston      7
James       2
Kathy       4
Larry      56
Laura       3
Leia       42
Pansey      7
Todd        8
Vincent     9
laurA       3
dtype: object

In [46]:
animals  = pd.DataFrame({'species':species22,'color':color,'age':age})
print(animals)

        age   color species
Albert   11     Tan   Snake
Alex      4    Gold     Dog
Buck      4   Black     Dog
Draco    11    Gray   Snake
Emma     18    Blue    Bird
Gaston    7   White     Dog
James     2  Orange     Cat
Kathy     4   White     Cat
Larry    56     Red    Bird
Laura     3   Black     Cat
Leia     42   Green    Bird
Pansey    7   Brown   Snake
Todd      8   Brown     Dog
Vincent   9  Silver   Snake
laurA     3   Black     Cat

In [45]:
animals['color']

Albert        Tan
Alex         Gold
Buck        Black
Draco        Gray
Emma         Blue
Gaston      White
James      Orange
Kathy       White
Larry         Red
Laura       Black
Leia        Green
Pansey      Brown
Todd        Brown
Vincent    Silver
laurA       Black
Name: color, dtype: object

In [47]:
animals['age']

Albert     11
Alex        4
Buck        4
Draco      11
Emma       18
Gaston      7
James       2
Kathy       4
Larry      56
Laura       3
Leia       42
Pansey      7
Todd        8
Vincent     9
laurA       3
Name: age, dtype: object

In [48]:
animals['Buck':'James']

       age   color species
Buck     4   Black     Dog
Draco   11    Gray   Snake
Emma    18    Blue    Bird
Gaston   7   White     Dog
James    2  Orange     Cat

In [49]:
animals['age']['Buck':'James']

Buck       4
Draco     11
Emma      18
Gaston     7
James      2
Name: age, dtype: object

In [50]:
animals[animals['species']=='Cat']

      age   color species
James   2  Orange     Cat
Kathy   4   White     Cat
Laura   3   Black     Cat
laurA   3   Black     Cat

In [55]:
color = pd.Series({i[1]:i[3] for i in data})
age2 = pd.Series({i[1]:int(i[2]) for i in data})
print(color)
print(age)

Albert        Tan
Alex         Gold
Buck        Black
Draco        Gray
Emma         Blue
Gaston      White
James      Orange
Kathy       White
Larry         Red
Laura       Black
Leia        Green
Pansey      Brown
Todd        Brown
Vincent    Silver
laurA       Black
dtype: object
Albert     11
Alex        4
Buck        4
Draco      11
Emma       18
Gaston      7
James       2
Kathy       4
Larry      56
Laura       3
Leia       42
Pansey      7
Todd        8
Vincent     9
laurA       3
dtype: object

In [56]:
animals2  = pd.DataFrame({'species':species22,'color':color,'age':age2})
print(animals)

        age   color species
Albert   11     Tan   Snake
Alex      4    Gold     Dog
Buck      4   Black     Dog
Draco    11    Gray   Snake
Emma     18    Blue    Bird
Gaston    7   White     Dog
James     2  Orange     Cat
Kathy     4   White     Cat
Larry    56     Red    Bird
Laura     3   Black     Cat
Leia     42   Green    Bird
Pansey    7   Brown   Snake
Todd      8   Brown     Dog
Vincent   9  Silver   Snake
laurA     3   Black     Cat

In [57]:
animals['color'][animals['age']<10]

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
animals.loc['James']

age             2
color      Orange
species       Cat
Name: James, dtype: object

In [59]:
animals.iloc[3:5]

      age color species
Draco  11  Gray   Snake
Emma   18  Blue    Bird

In [60]:
import numpy as np

In [61]:
np.average(animals['age'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [62]:
animals

        age   color species
Albert   11     Tan   Snake
Alex      4    Gold     Dog
Buck      4   Black     Dog
Draco    11    Gray   Snake
Emma     18    Blue    Bird
Gaston    7   White     Dog
James     2  Orange     Cat
Kathy     4   White     Cat
Larry    56     Red    Bird
Laura     3   Black     Cat
Leia     42   Green    Bird
Pansey    7   Brown   Snake
Todd      8   Brown     Dog
Vincent   9  Silver   Snake
laurA     3   Black     Cat

In [63]:
animals['Cute'] = True

In [64]:
animals

        age   color species  Cute
Albert   11     Tan   Snake  True
Alex      4    Gold     Dog  True
Buck      4   Black     Dog  True
Draco    11    Gray   Snake  True
Emma     18    Blue    Bird  True
Gaston    7   White     Dog  True
James     2  Orange     Cat  True
Kathy     4   White     Cat  True
Larry    56     Red    Bird  True
Laura     3   Black     Cat  True
Leia     42   Green    Bird  True
Pansey    7   Brown   Snake  True
Todd      8   Brown     Dog  True
Vincent   9  Silver   Snake  True
laurA     3   Black     Cat  True

In [67]:
animals['cute'] = True
animals['Cute'] = animals['species']=='Dog'
#animals['avg age'] = np.average(animals['age'])
print(animals)

        age   color species   Cute  cute
Albert   11     Tan   Snake  False  True
Alex      4    Gold     Dog   True  True
Buck      4   Black     Dog   True  True
Draco    11    Gray   Snake  False  True
Emma     18    Blue    Bird  False  True
Gaston    7   White     Dog   True  True
James     2  Orange     Cat  False  True
Kathy     4   White     Cat  False  True
Larry    56     Red    Bird  False  True
Laura     3   Black     Cat  False  True
Leia     42   Green    Bird  False  True
Pansey    7   Brown   Snake  False  True
Todd      8   Brown     Dog   True  True
Vincent   9  Silver   Snake  False  True
laurA     3   Black     Cat  False  True

In [69]:
#adding entry to DF
Rian = pd.DataFrame({'species':'Dog','name':'Rian','age':'55','color':'White','Cute':True,'cute':'True'})
animals.append(Rian)
print(animals)

ValueError: If using all scalar values, you must pass an index

In [74]:
#how to do that easily
animals3 = pd.read_csv('pets2.csv',header = None,index_col = 0)
print(animals3)

             1   2       3
0
Bird     Larry  56     Red
Bird      Emma  18    Blue
Bird      Leia  42   Green
Cat      James   2  Orange
Cat      Kathy   4   White
Cat      laurA   3   Black
Cat      Laura   3   Black
Dog       Alex   4    Gold
Dog       Todd   8   Brown
Dog     Gaston   7   White
Dog       Buck   4   Black
Snake    Draco  11    Gray
Snake   Pansey   7   Brown
Snake  Vincent   9  Silver
Snake   Albert  11     Tan

In [75]:
animals3[0]

KeyError: 0

In [76]:
#deleting columns
animals.drop(['cute'],axis =1)

        age   color species   Cute
Albert   11     Tan   Snake  False
Alex      4    Gold     Dog   True
Buck      4   Black     Dog   True
Draco    11    Gray   Snake  False
Emma     18    Blue    Bird  False
Gaston    7   White     Dog   True
James     2  Orange     Cat  False
Kathy     4   White     Cat  False
Larry    56     Red    Bird  False
Laura     3   Black     Cat  False
Leia     42   Green    Bird  False
Pansey    7   Brown   Snake  False
Todd      8   Brown     Dog   True
Vincent   9  Silver   Snake  False
laurA     3   Black     Cat  False